<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:h2:file:~/AppData/Local/ORManager/ORManager</property>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.username">ADMIN</property>
        <property name="connection.password">Dauka1993</property>
        <property name="current_session_context_class">thread</property>
        <property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="kz.sdauka.orgamemanager.entity.Admin"/>
        <mapping class="kz.sdauka.orgamemanager.entity.Game"/>
        <mapping class="kz.sdauka.orgamemanager.entity.Operator"/>
        <mapping class="kz.sdauka.orgamemanager.entity.Session"/>
        <mapping class="kz.sdauka.orgamemanager.entity.SessionDetails"/>
        <mapping class="kz.sdauka.orgamemanager.entity.Game"/>
        <mapping class="kz.sdauka.orgamemanager.entity.Operator"/>
    </session-factory>
</hibernate-configuration>